@import url('../../css/reset.css');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

*{
    font-family: 'Source Sans Pro', sans-serif !important;
}
:root{
    --main-color: #2a8ebf;
    --sub-color: #217198;
}
.cabecalho{
    width: 100%;
    height: 120px;
    background: var(--main-color);
}
.mini-barra{
    width: 90%;
    height: 14px;
    background: var(--sub-color);
    color: #fff;
    padding: 0.5% 5%;
    font-size: 14px;
}
.mini-barra-esquerdo{
    float: left;
    width: 50%;
}
.mini-barra-direito{
    float: right;
    width: 50%;
    text-align: right;
}
.mini-barra-direito a{
    margin-right: 10px;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}
.mini-barra-direito a:hover{
    font-weight: bold;
}
.barra-superior{
    width: 90%;
    height: 90px;
    padding: 0% 5%;
    color: #fff;
}
.logo-sec{
    margin-top: 1%;
    height: 75%;
    float: left;
    width: 20%;
}
.logo-sec img{
    height: 100%;
    filter: brightness(600%) grayscale(100%);
}
.menu-sec{
    float: left;
    height: 100%;
    width: 55%;
    line-height: 90px;
}
.menu-sec .menu ul li{
    display: inline;
    font-size: 16px;
    text-transform: uppercase;
    margin-right: 10px;
    transition: 0.5s;
    cursor: pointer;
    border-bottom: 2px transparent solid;
}
.menu-sec .menu ul li a{
    color: #fff;
    text-decoration: none;
}
.active{
    border-bottom: 2px #fff solid !important;
    padding: 0px 10px;
}
.menu-sec .menu ul li:hover{
    border-bottom: 2px #fff solid;
}
.info-sec{
    width: 13% !important;
    text-align: right;
}
.info-sec, .user-icon{
    float: left;
    width: 10%;
    height: 100%;
    line-height: 90px;
}
.user-icon{
    width: 5%;
    line-height: 130px;
}
.user-icon img{
    height: 50px;
    margin-left: 10px;
}
.logoff{
    float: left;
    width: 5%;
    height: 100%;
    line-height: 90px;
    text-align: center;
    margin-left: 3px;
}
.logoff button{
    width: 90%;
    height: 30px;
    outline: none;
    border: 2px var(--main-color) solid;
    background: var(--sub-color);;
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
}
.logoff button:hover{
    border-bottom: 2px #fff solid;
}
.content{
    width: 100%;
    height: auto;
    background: #fff;
    padding-bottom: 20px;
}
.main-footer{
    width: 97%;
    padding: 20px;
    height: 200px;
    background: var(--main-color);
    color: #fff;
}
.left-footer, .right-footer{
    width: 25%;
    height: 200px;
    float: left;
}
.middle-footer{
    width: 49%;
    margin-left: 0.25%;
    float: left;
    height: 200px;
    text-align: center;
    padding: 20px 0px 0px 0px;
}
.middle-footer img{
    margin-bottom: 50px;
    filter: brightness(600%) grayscale(100%);
}
.right-footer{
    float: right;
}
.left-bar{
    border-left: 5px var(--main-color) solid;
    padding-left: 5px;
    height: auto;
    width: 20%;
    margin: 3% 0% 3% 2.7%;
    float: left;
}
.left-bar h2{
    height: 40px;
    background: var(--main-color);
    width: 93%;
    line-height: 40px;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    padding: 0px 10px;
}
.category{
    width: 100%;
    height: auto;
    line-height: 40px;
    margin-bottom: 20px;
}
.category b{
    padding: 5px 15px;
    height: 35px;
    border-bottom: 1px var(--main-color) solid;
    transition: 0.1s;
    cursor: pointer;
    display: block;
}
.category b:first-of-type{
    margin-top: 10px;
}
.category b:hover{
    background: var(--main-color);
    color: #fff;
}
.cards{
    width: 90%;
    margin: 5%;
}
.card{
    width: 25%;
    float: left;
    min-height: 100px;
    height: auto;
    background-color: #fafafa;
    border-bottom: 5px var(--main-color) solid;
    border-radius: 5px;
    padding: 1%;
    margin-right: 20px;
}
.card h2, .panel h2, .access h2{
    font-size: 20px;
    margin-bottom: 15px;
}
.card p, .panel p, .access p{
    font-size: 14px;
    line-height: 22px;
    border-bottom: 1px #ccc solid;
}
.card p u, .panel p u, .access p u{
    float: right;
    font-size: 18px;
    text-decoration: none;
}
.panel p u, .access p u{
    font-size: 14px;
    cursor: pointer;
}
.panel{
    margin: 0% 5% 5% 5%;
    width: 40%;
    height: auto;
    background-color: #fafafa;
    border-bottom: 5px var(--sub-color) solid;
    border-radius: 5px;
    padding: 1%;
    float: left;
}
.no{
    margin-top: 0% !important;
}
.access{
    margin: 0% 5% 5% 0%;
    width: 25%;
    height: auto;
    background-color: #fafafa;
    border-bottom: 5px var(--sub-color) solid;
    border-radius: 5px;
    padding: 1%;
    float: left;
}
.list-all{
    float: left;
    width: 70%;
    margin-left: 1%;
    margin-top: 5%;
}
.list-all h1{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}
.list-all table{
    border: 1px #ccc solid;
    width: 100%;
    margin-bottom: 5%;
}
.list-all table tr{
    border-bottom: 1px #ccc solid;
}
.list-all table th{
    padding: 20px;
    border: 1px #ccc solid;
    font-weight: bold;
}
.list-all table td{
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    padding: 0px 20px;
}
.list-all table td:first-child{
    width: 5%;
    text-align: center;
}
.list-all table td:last-child{
    width: 30%;
    text-align: center;
}
.tb table td:last-child{
    width: 15% !important;
    text-align: center;
}
.list-all table button, .list-all button{
    padding: 5px 10px;
    border: none;
    background: var(--main-color);
    color: #fff;
    border-bottom: 3px var(--sub-color) solid;
    cursor: pointer;
    margin-bottom: 0px;
}
.list-desc{
    margin-top: 2%;
}
.list-all button{
    margin-bottom: 25px;
}
.clear{
    clear: both !important;
}
.transportadoras{
    margin-top: 3%;
}
.transportadora-info{
    width: 200px;
    height: 80px;
    background: #eee;
    text-align: center;
    display: inline-block;
    transition: 0.5s;
    margin-bottom: 10px;
}
.transportadora-info:hover{
    background: #dbdbdb;
}
.transportadora-info h2{
    width: 90%;
    height: 50px;
    background: var(--main-color);
    line-height: 50px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px 10px;
    text-align: left;
    margin-bottom: 7px;
}
.transportadora-info a{
    text-decoration: none;
    color: var(--sub-color);
    font-weight: bold;
}
.info-box{
    width: 100%;
    padding: 25px 0px;
}
.info-box label{
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
}
.info-box label input{
    float: right;
    width: 70%;
    height: 25px;
    outline: none;
    border: 1px #ccc solid;
    border-radius: 0px;
    border-bottom: 2px #ccc solid;
}
.info-box label:after{
    clear: both;
}